@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

$primary-color: #999;
$secondary-color: #555;


// grid layout
body {
    font-family: 'Archivo', sans-serif;
    margin: 10px 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.header {
    grid-column: span 12;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.navigation-menu {
    grid-column: span 2;
}
.main-content {
    grid-column: span 10;
}
.footer {
    grid-column: span 12;
    text-align: center;
    padding: 20px;
}

// heading
.logo {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

    @at-root #{&}-wrapper {
        grid-column: span 2;
        grid-row: 1
    }
}
.headline-wrapper {
    grid-column: span 10;
    grid-row: 1;
    text-align: center;
}

// menu and submenue
.menu {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }
    li a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 8px 16px;

    }
    li a:hover {
        background-color: $secondary-color;
        color: white;
    }
}

.navigation-menu {
    h3 {
        margin-bottom: 0;
    }
}
.content-panel {
    width: 100%;

    li {
        float: left;
    }
    li a {
        text-align: center;
    }
}

// dropdowns
.select-wrapper {
    width: 180px;

    @at-root #{&}::before {
        color: #fff;
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

select {
    appearance: none;
    background: $primary-color;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    width: 100%;

}

select option {
    color: #fff;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 10px;
}

.refresh-button {
    height: 40px;
    width: 180px;
    background-color: $primary-color;
    color: #fff;
    font-size: 16px;
    border: none;

    @at-root #{&}:hover {
        background-color: $secondary-color;
    }
}

// responsive iframes
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 15px;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media screen and (max-width: 700px) {
    .navigation-menu {
        grid-column: span 12;
    }
    .main-content {
        grid-column: span 12;
    }
    .navigation-menu {
        li {
            float: left;
        }
        li a {
            text-align: center;
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        grid-column: span 12;
        grid-row-start: 2;
        grid-row-end: 4;

        .headline-wrapper {
            grid-column: span 12;
            grid-row: 2;
        }
        .logo {
            display: inline;

            @at-root #{&}-wrapper {
                grid-column: span 12;
                grid-row: 1;
                height: 100px;
                text-align: center;
            }

        }
    }
}
